@model Supreme.Models.ProductViewModels


<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.seven, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.seven, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.sevenhalf, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.sevenhalf, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.eight, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.eight, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.eighthalf, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.eighthalf, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.nine, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.nine, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.ninehalf, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.ninehalf, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.ten, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.tenhalf, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ShoesSizeList.eleven, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShoesSizeList.eleven, new { htmlAttributes = new { @class = "form-control", style = "max-width:200px" } })
    </div>
</div>